{"openapi":"3.1.0","info":{"title":"API Settings","version":"1.0"},"servers":[{"url":"https://api.followupboss.com/v1"}],"components":{"securitySchemes":{"sec0":{"type":"http","scheme":"basic"}}},"security":[{"sec0":[]}],"paths":{"/events":{"post":{"summary":"/events","description":"Send in a lead or an event related to a lead.","operationId":"events-post","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"source":{"type":"string","description":"The name of the lead source."},"system":{"type":"string","description":"The name of the system used in providing leads."},"type":{"type":"string","description":"The type of event. Currently one of `Registration`, `Inquiry`, `Seller Inquiry`, `Property Inquiry`, `General Inquiry`, `Viewed Property`, `Saved Property`, `Visited Website`, `Incoming Call`, `Unsubscribed`, `Property Search`, `Saved Property Search`, `Visited Open House` or `Viewed Page`."},"message":{"type":"string","description":"A message from the user about this inquiry."},"description":{"type":"string","description":"Any additional information about this inquiry."},"person":{"properties":{"id":{"type":"integer","description":"The ID of the person the event corresponds to (optional).","format":"int32"},"firstName":{"type":"string","description":"The first/given name of the person."},"lastName":{"type":"string","description":"The last/family name of the person."},"stage":{"type":"string","description":"The stage of the person. (e.g., `Lead` or `Trash` See stages API endpoint for more options.)"},"source":{"type":"string","description":"The source of the lead."},"sourceUrl":{"type":"string","description":"This is a direct link to the information about a person at the lead provider."},"contacted":{"type":"boolean","description":"Sets whether the person has been contacted or not.","default":false},"price":{"type":"integer","description":"The estimated sell/buy price for this person.","format":"int32"},"assignedTo":{"type":"string","description":"Full name of the agent to assign to this person."},"assignedLenderName":{"type":"string","description":"Full name of the lender to assign to this person."},"assignedUserId":{"type":"integer","description":"ID of the agent assigned to this person.","format":"int32"},"assignedLenderId":{"type":"integer","description":"ID of the lender assigned to this person.","format":"int32"},"emails":{"type":"array","description":"A list of email addresses associated with this person.","items":{"properties":{"value":{"type":"string","description":"The email address."},"type":{"type":"string","description":"The type of email address. (e.g., \"work\", \"home\")"}},"type":"object"}},"phones":{"type":"array","description":"A list of phone numbers associated with the person.","items":{"properties":{"value":{"type":"string","description":"The phone number. (e.g., 888-555-1234)."},"type":{"type":"string","description":"Type of number. (e.g., \"mobile\", \"home\", \"fax\", etc.)"}},"type":"object"}},"addresses":{"type":"array","description":"A list of addresses associated with the person (this is the address where this person can be contacted, it is not the address of a property this person may be interested in selling or buying).","items":{"properties":{"type":{"type":"string","description":"The address type. (e.g., \"home\", \"work\", \"mailing\", \"investment\", etc.)","default":"home"},"street":{"type":"string","description":"Street address. (e.g., \"3595 South Higuera St., Suite B\")"},"city":{"type":"string","description":"City name."},"state":{"type":"string","description":"Abbreviated state code. (e.g., \"CA\", \"NY\", etc.)"},"code":{"type":"string","description":"Zipcode. (As a string, not a number.)"},"country":{"type":"string","description":"Country name. (e.g., \"United States\", \"Japan\", etc.)"}},"type":"object"}},"tags":{"type":"array","description":"A list of tags applied to the person.","items":{"type":"string"}},"custom*":{"type":"string","description":"You can include any of your Custom Fields in the request, these must be prefixed with \"custom\".  For example, if you have a *Closing Date* custom field, the JSON key for that field will be `customClosingDate`.  See [Custom Fields](ref:customfields-get) for more about Custom Fields."}},"required":[],"type":"object","description":"Information about the lead who triggered this event. Follow Up Boss will automatically de-duplicate people based on their phone number or email address."},"property":{"properties":{"street":{"type":"string","description":"Street address. (e.g., \"3595 South Higuera St, Suite B\")"},"city":{"type":"string","description":"City name."},"state":{"type":"string","description":"Abbreviated state code. (e.g., \"CA\", \"NY\", etc.)"},"code":{"type":"string","description":"Zipcode. (Only as a string, not a number. e.g., \"90210\")"},"mlsNumber":{"type":"string","description":"MLS Number for the property."},"price":{"type":"integer","description":"The asking price or price estimate for the property.","format":"int32"},"forRent":{"type":"boolean","description":"Sets whether this property is for rent or not."},"url":{"type":"string","description":"A URL for the property provided by the lead source."},"type":{"type":"string","description":"A freeform description of property type. (e.g., \"Bungalow\" or \"Apartment\")"},"bedrooms":{"type":"string","description":"The number of bedrooms."},"bathrooms":{"type":"string","description":"The number of bathrooms."},"area":{"type":"string","description":"Area of the property in square feet."},"lot":{"type":"string","description":"Area of the lot/land in acres."}},"required":[],"type":"object","description":"Information about the property this event is related to."},"propertySearch":{"properties":{"type":{"type":"string","description":"The type of property the person was searching for. (e.g., \"Residential\", \"Lot\", \"Apartment\", etc.)"},"neighborhood":{"type":"string","description":"The neighborhood or area in which a person is searching for a property."},"city":{"type":"string","description":"The city in which a person was searching."},"state":{"type":"string","description":"The state in which a person was searching."},"code":{"type":"array","description":"The zipcode(s) in which a person was searching. (This can also be sent in as just a string for one zip code.)","items":{"type":"string"}},"minPrice":{"type":"integer","description":"The minimum price in which a person was searching.","format":"int32"},"maxPrice":{"type":"integer","description":"The maximum price in which a person was searching.","format":"int32"},"minBedrooms":{"type":"integer","description":"The minimum number of bedrooms that a person was searching for.","format":"int32"},"maxBedrooms":{"type":"integer","description":"The maximum number of bedrooms that a person was searching for.","format":"int32"},"minBathrooms":{"type":"number","description":"The minimum number of bathrooms that a person was searching for.","format":"float"},"maxBathrooms":{"type":"number","description":"The maximum number of bathrooms that a person was searching for.","format":"float"}},"required":[],"type":"object","description":"If this event was an inquiry you may have information about what the person was searching for, you can submit this information using this field."},"campaign":{"type":"object","description":"The name of the source where the lead originated. (e.g., If the lead came to your site through an organic search on `www.google.com` the source is \"Google\".)","required":["source"],"properties":{"source":{"type":"string","description":"The source of the campaign."},"medium":{"type":"string","description":"The medium of the campaign. (e.g., For an organic search the medium is \"organic\".)"},"term":{"type":"string","description":"The search terms entered by the person."},"content":{"type":"string","description":"The content of the campaign."},"campaign":{"type":"string","description":"The name or identifier for this campaign."}}},"pageTitle":{"type":"string","description":"This field is to be used with the `Viewed Page` event type and indicates the title of the page viewed. (e.g., \"Contact Us\")"},"pageUrl":{"type":"string","description":"This field is to be used with the `Viewed Page` event type and indicates the url of the page viewed. (e.g., \"http://www.samplerealestate.com/contact-us\")"},"pageReferrer":{"type":"string","description":"This field is to be used with the `Viewed Page` event type and indicates the referrer url where the visitor came from. (e.g., \"https://www.google.com\") (Note: If `pageReferrer` is sent in, `pageUrl` should be set as well.)"},"pageDuration":{"type":"integer","description":"This field is to be used with the `Viewed Page` event type and indicates the duration of the visitor on the page viewed given in seconds.","format":"int32"},"occurredAt":{"type":"string","description":"The date this event occurred. This is used to determine if the event is historical. Historical events will not trigger workflows upon creation. Any DateTime greater than 1 day will be considered historical.","format":"date"}}},"examples":{"JSON Example 1":{"value":{"source":"Zillow","system":"Zillow","type":"Property Inquiry","message":"I am interested in 6825 Mulholland Dr, ...","description":"Move-in: 12/28/2013","person":{"id":1234,"firstName":"Melissa ","lastName":"Hartman","emails":[{"value":"m.hartman@example.com","type":"home"}],"phones":[{"value":"(555) 555-1234","type":"home"}],"tags":["Lease option"],"sourceUrl":"http://click.email.zillow.com/?qs=1e120cec11e3","customBirthday":"2/16/1990"},"property":{"street":"6825 Mulholland Dr","city":"Los Angeles","state":"CA","code":"90068","mlsNumber":"14729339","price":"310000","forRent":"0","url":"http://www.zillow.com/homedetails/6825-Mulholland-Dr-Los-Angeles-CA-90068/2109065822_zpid/","type":"Residential"},"propertySearch":{"type":"Lot","neighborhood":"Cahuenga Pass","city":"Los Angeles","state":"CA","code":"90068","minPrice":100000,"maxPrice":500000},"campaign":{"source":"google","medium":"organic","term":"Cahuenga Pass land","content":"","campaign":""}}},"Example 2":{"value":{"source":"MyAwesomeWebsite.com","system":"AwesomeSiteBuilder","type":"General Inquiry","message":"Looking for a house under $500k in the East Boston area","person":{"firstName":"John","lastName":"Smith","emails":[{"value":"john@gmail.com"}],"phones":[{"value":"555-555-5555"}]}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"201":{"description":"201","content":{"text/plain":{"examples":{"Result":{"value":""}}}}},"204":{"description":"204","content":{"text/plain":{"examples":{"Result":{"value":""}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"/events","description":"Search for events.","operationId":"events-get","parameters":[{"name":"limit","in":"query","description":"Number of results to return. (Max 100.)","schema":{"type":"integer","format":"int32","default":10}},{"name":"next","in":"query","description":"To get the next page of results, set this to the value returned in _metadata.next, or use the URL from _metadata.nextLink directly.","schema":{"type":"string"}},{"name":"offset","in":"query","description":"Specifies the number of rows to skip, before starting to return results.  (For more efficient paging, please use the \"next\" parameter instead.)","schema":{"type":"integer","format":"int32","default":0}},{"name":"personId","in":"query","description":"Find all events related to a person.","schema":{"type":"integer","format":"int32"}},{"name":"type","in":"query","description":"Comma separated list of one or more of the following: \"Registration\", \"Inquiry\", \"Seller Inquiry\", \"Property Inquiry\", \"General Inquiry\", \"Viewed Property\", \"Saved Property\", \"Visited Website\", \"Incoming Call\", \"Unsubscribed\", \"Property Search\", \"Saved Property Search\", \"Visited Open House\" or \"Viewed Page\".","schema":{"type":"string"}},{"name":"hasProperty","in":"query","description":"Filters based on whether a property is associated with an event or not.","schema":{"type":"boolean"}},{"name":"propertyAddress","in":"query","description":"Searches property addresses for a given value, including partial matches.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_metadata\": {\n    \"collection\": \"events\",\n    \"offset\": 0,\n    \"limit\": 1,\n    \"total\": 1000,\n    \"next\": \"eyJzaW5jZUlkIjoxMjYzMn0\",\n    \"nextLink\": \"https://api.reclients.com/v1/events?updatedAfter=1980-01-01T00%3A00%3A00Z&next=eyJzaW5jZUlkIjoxMjYzMn0\"\n  },\n  \"events\": [\n    {\n      \"id\": 132,\n      \"created\": \"2014-05-05T19:38:27Z\",\n      \"updated\": \"2014-05-05T19:38:27Z\",\n      \"personId\": 12264,\n      \"message\": \"I am interested in 6825 Mulholland Dr, ...\",\n      \"description\": \"Move-in: 12/28/2013\",\n      \"noteId\": 32,\n      \"source\": \"Zillow\",\n      \"type\": \"Property Inquiry\",\n      \"property\": {\n        \"street\": \"6825 Mulholland Dr\",\n        \"city\": \"Los Angeles\",\n        \"state\": \"CA\",\n        \"code\": \"90068\",\n        \"mlsNumber\": \"14729339\",\n        \"price\": \"310000\",\n        \"forRent\": \"0\",\n        \"url\": \"http://www.zillow.com/homedetails/6825-Mulholland-Dr-Los-Angeles-CA-90068/2109065822_zpid/\",\n        \"type\": \"Residential\",\n        \"bedrooms\": \"0\",\n        \"bathrooms\": null,\n        \"area\": null,\n        \"lot\": null\n      },\n      \"propertySearch\": {\n        \"type\": \"Residential\",\n        \"neighborhood\": \"Hollywood\",\n        \"city\": \"Los Angeles\",\n        \"state\": \"CA\",\n        \"code\": \"90068\",\n        \"minPrice\": 300000,\n        \"maxPrice\": 500000,\n        \"minBedrooms\": 0,\n        \"maxBedrooms\": 2,\n        \"minBathrooms\": 1,\n        \"maxBathrooms\": 2,\n        \"minArea\": 100,\n        \"maxArea\": 1200,\n        \"forRent\": 0,\n        \"action\": \"ADD\",\n        \"maxHoaFee\": 0,\n        \"zillowSsid\": \"1234\",\n        \"keywordList\": [\"Downtown\"],\n        \"statusTypes\": [\n            \"pending\",\n            \"recently closed\"\n        ],\n        \"minYearBuilt\": 1930,\n        \"minParkingSpot\": 1\n      },\n      \"pageTitle\": null,\n      \"pageUrl\": null,\n      \"pageDuration\": 0\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_metadata":{"type":"object","properties":{"collection":{"type":"string","example":"events"},"offset":{"type":"integer","example":0,"default":0},"limit":{"type":"integer","example":1,"default":0},"total":{"type":"integer","example":1000,"default":0},"next":{"type":"string","example":"eyJzaW5jZUlkIjoxMjYzMn0"},"nextLink":{"type":"string","example":"https://api.reclients.com/v1/events?updatedAfter=1980-01-01T00%3A00%3A00Z&next=eyJzaW5jZUlkIjoxMjYzMn0"}}},"events":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":132,"default":0},"created":{"type":"string","example":"2014-05-05T19:38:27Z"},"updated":{"type":"string","example":"2014-05-05T19:38:27Z"},"personId":{"type":"integer","example":12264,"default":0},"message":{"type":"string","example":"I am interested in 6825 Mulholland Dr, ..."},"description":{"type":"string","example":"Move-in: 12/28/2013"},"noteId":{"type":"integer","example":32,"default":0},"source":{"type":"string","example":"Zillow"},"type":{"type":"string","example":"Property Inquiry"},"property":{"type":"object","properties":{"street":{"type":"string","example":"6825 Mulholland Dr"},"city":{"type":"string","example":"Los Angeles"},"state":{"type":"string","example":"CA"},"code":{"type":"string","example":"90068"},"mlsNumber":{"type":"string","example":"14729339"},"price":{"type":"string","example":"310000"},"forRent":{"type":"string","example":"0"},"url":{"type":"string","example":"http://www.zillow.com/homedetails/6825-Mulholland-Dr-Los-Angeles-CA-90068/2109065822_zpid/"},"type":{"type":"string","example":"Residential"},"bedrooms":{"type":"string","example":"0"},"bathrooms":{},"area":{},"lot":{}}},"propertySearch":{"type":"object","properties":{"type":{"type":"string","example":"Residential"},"neighborhood":{"type":"string","example":"Hollywood"},"city":{"type":"string","example":"Los Angeles"},"state":{"type":"string","example":"CA"},"code":{"type":"string","example":"90068"},"minPrice":{"type":"integer","example":300000,"default":0},"maxPrice":{"type":"integer","example":500000,"default":0},"minBedrooms":{"type":"integer","example":0,"default":0},"maxBedrooms":{"type":"integer","example":2,"default":0},"minBathrooms":{"type":"integer","example":1,"default":0},"maxBathrooms":{"type":"integer","example":2,"default":0},"minArea":{"type":"integer","example":100,"default":0},"maxArea":{"type":"integer","example":1200,"default":0},"forRent":{"type":"integer","example":0,"default":0},"action":{"type":"string","example":"ADD"},"maxHoaFee":{"type":"integer","example":0,"default":0},"zillowSsid":{"type":"string","example":"1234"},"keywordList":{"type":"array","items":{"type":"string","example":"Downtown"}},"statusTypes":{"type":"array","items":{"type":"string","example":"pending"}},"minYearBuilt":{"type":"integer","example":1930,"default":0},"minParkingSpot":{"type":"integer","example":1,"default":0}}},"pageTitle":{},"pageUrl":{},"pageDuration":{"type":"integer","example":0,"default":0}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/events/{id}":{"get":{"summary":"/events/:id","description":"Retrieve a single event by id.","operationId":"events-id-get","parameters":[{"name":"id","in":"path","description":"The id of the event.","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 132,\n  \"created\": \"2014-05-05T19:38:27Z\",\n  \"updated\": \"2014-05-05T19:38:27Z\",\n  \"personId\": 12264,\n  \"message\": \"I am interested in 6825 Mulholland Dr, ...\",\n  \"description\": \"Move-in: 12/28/2013\",\n  \"noteId\": 32,\n  \"source\": \"Zillow\",\n  \"type\": \"Property Inquiry\",\n  \"property\": {\n    \"street\": \"6825 Mulholland Dr\",\n    \"city\": \"Los Angeles\",\n    \"state\": \"CA\",\n    \"code\": \"90068\",\n    \"mlsNumber\": \"14729339\",\n    \"price\": \"310000\",\n    \"forRent\": \"0\",\n    \"url\": \"http://www.zillow.com/homedetails/6825-Mulholland-Dr-Los-Angeles-CA-90068/2109065822_zpid/\",\n    \"type\": \"Residential\",\n    \"bedrooms\": \"0\",\n    \"bathrooms\": null,\n    \"area\": null,\n    \"lot\": null\n  },\n  \"propertySearch\": {\n    \"type\": \"Residential\",\n    \"neighborhood\": \"Hollywood\",\n    \"city\": \"Los Angeles\",\n    \"state\": \"CA\",\n    \"code\": \"90068\",\n    \"minPrice\": 300000,\n    \"maxPrice\": 500000,\n    \"minBedrooms\": 0,\n    \"maxBedrooms\": 2,\n    \"minBathrooms\": 1,\n    \"maxBathrooms\": 2,\n    \"minArea\": 100,\n    \"maxArea\": 1200,\n    \"forRent\": 0,\n    \"action\": \"ADD\",\n    \"maxHoaFee\": 0,\n    \"zillowSsid\": \"1234\",\n    \"keywordList\": [\"Downtown\"],\n    \"statusTypes\": [\n        \"pending\",\n        \"recently closed\"\n    ],\n    \"minYearBuilt\": 1930,\n    \"minParkingSpot\": 1\n  }\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":132,"default":0},"created":{"type":"string","example":"2014-05-05T19:38:27Z"},"updated":{"type":"string","example":"2014-05-05T19:38:27Z"},"personId":{"type":"integer","example":12264,"default":0},"message":{"type":"string","example":"I am interested in 6825 Mulholland Dr, ..."},"description":{"type":"string","example":"Move-in: 12/28/2013"},"noteId":{"type":"integer","example":32,"default":0},"source":{"type":"string","example":"Zillow"},"type":{"type":"string","example":"Property Inquiry"},"property":{"type":"object","properties":{"street":{"type":"string","example":"6825 Mulholland Dr"},"city":{"type":"string","example":"Los Angeles"},"state":{"type":"string","example":"CA"},"code":{"type":"string","example":"90068"},"mlsNumber":{"type":"string","example":"14729339"},"price":{"type":"string","example":"310000"},"forRent":{"type":"string","example":"0"},"url":{"type":"string","example":"http://www.zillow.com/homedetails/6825-Mulholland-Dr-Los-Angeles-CA-90068/2109065822_zpid/"},"type":{"type":"string","example":"Residential"},"bedrooms":{"type":"string","example":"0"},"bathrooms":{},"area":{},"lot":{}}},"propertySearch":{"type":"object","properties":{"type":{"type":"string","example":"Residential"},"neighborhood":{"type":"string","example":"Hollywood"},"city":{"type":"string","example":"Los Angeles"},"state":{"type":"string","example":"CA"},"code":{"type":"string","example":"90068"},"minPrice":{"type":"integer","example":300000,"default":0},"maxPrice":{"type":"integer","example":500000,"default":0},"minBedrooms":{"type":"integer","example":0,"default":0},"maxBedrooms":{"type":"integer","example":2,"default":0},"minBathrooms":{"type":"integer","example":1,"default":0},"maxBathrooms":{"type":"integer","example":2,"default":0},"minArea":{"type":"integer","example":100,"default":0},"maxArea":{"type":"integer","example":1200,"default":0},"forRent":{"type":"integer","example":0,"default":0},"action":{"type":"string","example":"ADD"},"maxHoaFee":{"type":"integer","example":0,"default":0},"zillowSsid":{"type":"string","example":"1234"},"keywordList":{"type":"array","items":{"type":"string","example":"Downtown"}},"statusTypes":{"type":"array","items":{"type":"string","example":"pending"}},"minYearBuilt":{"type":"integer","example":1930,"default":0},"minParkingSpot":{"type":"integer","example":1,"default":0}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/people":{"get":{"summary":"/people","description":"Search for people.","operationId":"people-get","parameters":[{"name":"id","in":"query","description":"The ID(s) of a person or people. (e.g., \"123,456\")","schema":{"type":"string"}},{"name":"sort","in":"query","description":"The sort order, can be one of the following: `id`, `created`, `updated`, `name`, `firstName`, `lastName`, `price`, `stage`, `lastActivity`, `lastCommunication`, `lastReceivedEmail`, `lastSentEmail`, `lastEmail`, `emailsReceived`, `emailsSent`, `lastIncomingCall`, `lastOutgoingCall`, `lastCall`, `firstCall`, `callsIncoming`, `callsOutgoing`, `callsDuration`, `lastReceivedText`, `lastSentText`, `lastText`, `lastLeadActivity`, `lastEmEventActivity`, `lastIdxVisit`, `textsReceived`, `textsSent`, `propertiesViewed`, `propertiesSaved`, `pagesViewed` or `nextTask`. <br /><br />Custom Fields (e.g. `customClosePrice`) can also be used in sorting.","schema":{"type":"string","default":"created"}},{"name":"limit","in":"query","description":"Number of results to return. Max 100.","schema":{"type":"integer","format":"int32","default":10}},{"name":"offset","in":"query","description":"Specifies the number of rows to skip, before starting to return results.","schema":{"type":"integer","format":"int32","default":0}},{"name":"fields","in":"query","description":"Comma separated list of fields to return or use `allFields` to return all fields. (e.g., `firstName,lastName,timeframeId,timeframeUpdated,timeframeStatus,customFieldName`).  Note: All custom fields should be prefixed with `custom` (i.e. customBirthday, customField).   <br><br> Special values include `allCustom` (returns all custom fields) and `allFields` (returns all fields, including custom fields).  <br><br> When using the `fields` parameter to filter the response, the `id` field will be included (even when not specified explicitly).","schema":{"type":"string"}},{"name":"lastActivityAfter","in":"query","description":"Search for last activity after a given time. (e.g., \"2016-11-23 01:02:03\")","schema":{"type":"string"}},{"name":"lastActivityBefore","in":"query","description":"Search for last activity before a given time. (e.g., \"2016-11-23 01:02:03\")","schema":{"type":"string"}},{"name":"name","in":"query","description":"Search for person with a name like what is given. (e.g., If you search for \"drew\", it might return a contact like \"Andrew\".)","schema":{"type":"string"}},{"name":"firstName","in":"query","description":"Search for person with a first name like what is given. (e.g., If you search for \"drew\", it might return a contact like \"Andrew\".)","schema":{"type":"string"}},{"name":"lastName","in":"query","description":"Search for person with a last name like what is given. (e.g., If you search for \"drew\", it might return a contact like \"Andrew\".)","schema":{"type":"string"}},{"name":"email","in":"query","description":"Search for a person by email address.","schema":{"type":"string"}},{"name":"phone","in":"query","description":"Search for a person by phone number.","schema":{"type":"string"}},{"name":"stage","in":"query","description":"Search for person by stage name. (e.g., \"Lead\" or \"Trash\". See [stages API endpoint](ref:stages-get) for available stages.)","schema":{"type":"string"}},{"name":"source","in":"query","description":"Search for a person by lead source.","schema":{"type":"string"}},{"name":"assignedTo","in":"query","description":"Search for a person by the user that is assigned to them. (e.g., Passing \"William Riker\" would return any person assigned to them.)","schema":{"type":"string"}},{"name":"assignedUserId","in":"query","description":"Search for people by the assigned user ID.","schema":{"type":"integer","format":"int32"}},{"name":"assignedPondId","in":"query","description":"Search for a person by the assigned pond id.","schema":{"type":"integer","format":"int32"}},{"name":"assignedLenderName","in":"query","description":"Search for people by the assigned lender name.","schema":{"type":"string"}},{"name":"assignedLenderId","in":"query","description":"Search for people by the assigned lender user ID.","schema":{"type":"integer","format":"int32"}},{"name":"contacted","in":"query","description":"Search for people by whether or not they have been contacted.","schema":{"type":"boolean"}},{"name":"priceAbove","in":"query","description":"Search for people who have specified a price above a given value.","schema":{"type":"integer","format":"int32"}},{"name":"priceBelow","in":"query","description":"Search for people who have specified a price below a given value.","schema":{"type":"integer","format":"int32"}},{"name":"smartListId","in":"query","description":"Search for people that match a smart list with given ID.","schema":{"type":"integer","format":"int32"}},{"name":"includeTrash","in":"query","description":"Set whether to include people in the \"trash\" stage. (By default responses from /people will not include any people with a \"trash\" stage.)","schema":{"type":"boolean","default":false}},{"name":"includeUnclaimed","in":"query","description":"Set to include unclaimed leads offered to the current user.","schema":{"type":"boolean","default":false}},{"name":"tags","in":"query","description":"Search for people that match one or more tags. (e.g., \"Foo,Bar\" will match contacts with tags that include Foo OR Bar.)","schema":{"type":"string"}},{"name":"custom*","in":"query","description":"You can include any of your Custom Fields in the request, these must be prefixed with \"custom\".  For example, if you have a *Closing Date* custom field, the JSON key for that field will be `customClosingDate`.  See [Custom Fields](doc:custom-fields-get) for more about Custom Fields.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_metadata\": {\n    \"collection\": \"people\",\n    \"offset\": 0,\n    \"limit\": 10,\n    \"total\": 35\n  },\n  \"people\": [\n    {\n      \"id\": 10763,\n      \"created\": \"2013-10-31T23:04:30Z\",\n      \"updated\": \"2014-06-27T13:11:23Z\",\n      \"createdVia\": \"API\",\n      \"lastActivity\": \"2014-06-27T13:11:23Z\",\n      \"name\": \"Tom Minch\",\n      \"firstName\": \"Tom\",\n      \"lastName\": \"Minch\",\n      \"stage\": \"Lead\",\n      \"source\": \"MyAwesomeWebsite.com\",\n      \"sourceUrl\": \"\",\n      \"contacted\": 0,\n      \"price\": 500000,\n      \"timeframeId\": 1,\n      \"assignedLenderId\": null,\n      \"assignedLenderName\": null,\n      \"assignedUserId\": 8,\n      \"assignedTo\": \"Agent White\",\n      \"collaborators\": [\n        {\n           \"id\": 8,\n           \"name\": \"Tom Minch\",\n           \"assigned\": true,\n           \"role\": \"Broker\"\n         }\n      ],\n      \"tags\": [ \"Los Angeles\", \"90003\", \"2014 May\" ],\n      \"emails\": [\n        {\n          \"value\": \"tom.minch@example.com\",\n          \"type\": \"home\",\n          \"isPrimary\": 1,\n          \"status\": \"Valid\"\n        }\n      ],\n      \"phones\": [\n        {\n          \"type\": \"home\",\n          \"value\": \"555-555-1234\",\n          \"status\": \"Invalid\"\n        }\n      ],\n      \"addresses\": [\n        {\n          \"type\": \"work\",\n          \"street\": \"322 S Broadway\",\n          \"city\": \"Los Angeles\",\n          \"state\": \"CA\",\n          \"code\": \"90003\",\n          \"country\": \"United States\"\n        }\n      ],\n      \"picture\": {\n        \"small\": \"https://example.com/pictures/89615e1a7fe.jpg\"\n      }\n    }\n    ...\n  ]\n}"}}}}}},"deprecated":false},"post":{"summary":"/people","description":"Manually add a new person.","operationId":"people-post","parameters":[{"name":"deduplicate","in":"query","description":"By default new people will be created even if there are existing people with the same email or phone. By passing true, deduplication logic will be used and, if a person is found, a 200 response will be returned along with response data for that existing person. No changes will be made based on the payload.","schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"createdAt":{"type":"string","description":"Will set the creation time for the person, if wanting to create historical leads.","format":"date"},"firstName":{"type":"string","description":"The first/given name of the person."},"lastName":{"type":"string","description":"The last/family name of the person."},"stage":{"type":"string","description":"The stage the person is in. (e.g., \"Lead\" or \"Trash\". See [stage API endpoint](ref:stages-get) for more options.)","default":"Lead"},"source":{"type":"string","description":"The source of the lead."},"sourceUrl":{"type":"string","description":"This is a direct link to the information about a person at the lead provider."},"contacted":{"type":"boolean","description":"Whether the person has been contacted or not."},"price":{"type":"integer","description":"The price of the property of the person's first inquiry, or the estimated sell/buy price for this person.","format":"int32"},"assignedTo":{"type":"string","description":"Full name of the agent assigned to this person."},"assignedUserId":{"type":"integer","description":"ID of the agent assigned to this person.","format":"int32"},"assignedPondId":{"type":"integer","description":"ID of the pond assigned to this person.","format":"int32"},"assignedLenderName":{"type":"string","description":"Full name of the lender assigned to this person."},"assignedLenderId":{"type":"integer","description":"ID of the lender assigned to this person.","format":"int32"},"emails":{"type":"array","description":"A list of email addresses associated with the person. (Specify type and value, isPrimary is not expected. The first email in the list will be the primary email address.)","items":{"properties":{"value":{"type":"string","description":"The email address."},"type":{"type":"string","description":"The type of email address (e.g., \"work\", \"home\")"},"isPrimary":{"type":"boolean","description":"Sets whether the email address is the primary address.","default":false}},"required":["value"],"type":"object"}},"phones":{"type":"array","description":"A list of phone numbers associated with the person. (Specify type and value, isPrimary is not expected. The first phone in the list will be the primary phone number.)","items":{"properties":{"value":{"type":"string","description":"The phone number. (e.g., 888-555-1234)"},"isPrimary":{"type":"boolean","description":"Sets whether this is the primary phone number.","default":false},"type":{"type":"string","description":"Type of number (e.g., \"mobile\", \"home\", \"fax\", etc.)"}},"required":["value"],"type":"object"}},"addresses":{"type":"array","description":"A list of addresses associated with the person. (These are the addresses where this person can be contacted, it is not the address of a property this person may be interested in selling or buying).","items":{"properties":{"type":{"type":"string","description":"The address type. (e.g., \"home\", \"work\", \"mailing\", \"investment\", etc.)","default":"home"},"street":{"type":"string","description":"Street address. (e.g., \"3595 South Higuera St., Suite B\")"},"city":{"type":"string","description":"City name."},"state":{"type":"string","description":"Abbreviated state code. (e.g., \"CA\", \"NY\", etc.)"},"code":{"type":"string","description":"Zipcode. (As a string, not a number.)"},"country":{"type":"string","description":"Country name. (e.g., \"United States\", \"Japan\", etc.)"}},"type":"object"}},"tags":{"type":"array","description":"A list of tags applied to the person.","items":{"type":"string"}},"background":{"type":"string","description":"Background information on the person. (Can be a multi-line string.)"},"collaborators":{"type":"array","description":"List of user ids to set as collaborators on this person. Not including a collaborator's user id in this array will remove them as a collaborator.","items":{"type":"integer","format":"int32"}},"custom*":{"type":"string","description":"You can include any of your Custom Fields in the request, these must be prefixed with \"custom\".  For example, if you have a *Closing Date* custom field, the JSON key for that field will be `customClosingDate`.  See [Custom Fields](doc:custom-fields-get) for more about Custom Fields."},"timeframeId":{"type":"integer","description":"ID of the timeframe to move (Refer to the /timeframes endpoint for valid values of timeframeId.)","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/people/{id}":{"get":{"summary":"/people/:id","description":"Retrieve a person by id.","operationId":"people-id-get","parameters":[{"name":"id","in":"path","description":"ID of the person.","schema":{"type":"integer","format":"int32"},"required":true},{"name":"fields","in":"query","description":"Comma separated list of fields to return. (e.g., `firstName,lastName,timeframeId,timeframeUpdated,timeframeStatus,customFieldName`) <br><br> Special values include `allCustom` (returns all custom fields) and `allFields` (returns all fields, including custom fields).","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 14412,\n  \"created\": \"2016-03-31T16:42:27Z\",\n  \"updated\": \"2016-11-17T03:44:00Z\",\n  \"createdVia\": \"API\",\n  \"lastActivity\": \"2016-11-17T05:01:02Z\",\n  \"name\": \"William Riker\",\n  \"firstName\": \"William\",\n  \"lastName\": \"Riker\",\n  \"prequalified\": false,\n  \"stage\": \"Lead\",\n  \"stageId\": 2,\n  \"source\": \"<unspecified>\",\n  \"sourceUrl\": \"\",\n  \"contacted\": 1,\n  \"price\": 310000,\n  \"assignedLenderId\": null,\n  \"assignedLenderName\": null,\n  \"assignedUserId\": 1,\n  \"assignedTo\": \"Gerald Leenerts\",\n  \"collaborators\": [\n    {\n       \"id\": 1,\n       \"name\": \"Gerald Leenerts\",\n       \"assigned\": true,\n       \"role\": \"Broker\"\n    }\n  ],\n  \"tags\": [\n    \"star trek\",\n  ],\n  \"emails\": [\n    {\n      \"value\": \"example@example.com\",\n      \"type\": \"home\",\n      \"isPrimary\": 1,\n      \"status\": \"Valid\",\n    },\n    {\n      \"value\": \"mobile@example.com\",\n      \"type\": \"work\",\n      \"isPrimary\": 0,\n      \"status\": \"Valid\",\n    }\n  ],\n  \"phones\": [\n    {\n      \"value\": \"2345678901\",\n      \"type\": \"home\",\n      \"isPrimary\": 1,\n      \"status\": \"Invalid\",\n    },\n    {\n      \"value\": \"2345678902\",\n      \"type\": \"mobile\",\n      \"isPrimary\": 0,\n      \"status\": \"Not Validated\",\n    }\n  ],\n  \"addresses\": [],\n  \"picture\": {\n    \"small\": \"http://vignette1.wikia.nocookie.net/memoryalpha/images/4/4f/Riker_orders_Worf_to_fire_on_the_Borg_cube.jpg/revision/latest?cb=20130213024734&path-prefix=en\"\n  },\n  \"timeframeId\": 1\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"put":{"summary":"/people/:id","description":"Update a person by id.","operationId":"people-id-put","parameters":[{"name":"id","in":"path","description":"ID of the person.","schema":{"type":"integer","format":"int32"},"required":true},{"name":"mergeTags","in":"query","description":"If set to true, this will merge the tags sent in the `tags` argument with the current list of tags. By default, it overwrites the existing tags.","schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"firstName":{"type":"string","description":"The first/given name of the person."},"lastName":{"type":"string","description":"The last/family name of the person."},"stage":{"type":"string","description":"The stage the person is in. (e.g., \"Lead\" or \"Trash\". See [stage API endpoint](ref:stages-get) for more options.)","default":"Lead"},"contacted":{"type":"boolean","description":"Whether the person has been contacted. (**Note**: Changing the `contacted` field to `true` will pause action plans.)"},"price":{"type":"integer","description":"The price of the property of the person's first inquiry, or the estimated sell/buy price for this person.","format":"int32"},"assignedTo":{"type":"string","description":"Full name of the agent assigned to this person."},"assignedUserId":{"type":"integer","description":"ID of the agent assigned to this person.","format":"int32"},"assignedPondId":{"type":"integer","description":"ID of the pond assigned to this person.","format":"int32"},"assignedLenderName":{"type":"string","description":"Full name of the lender assigned to this person."},"assignedLenderId":{"type":"integer","description":"ID of the lender assigned to this person.","format":"int32"},"emails":{"type":"array","description":"A list of email addresses associated with the person.","items":{"properties":{"value":{"type":"string","description":"The email address."},"type":{"type":"string","description":"The type of email address (e.g., \"work\", \"home\")"},"isPrimary":{"type":"boolean","description":"Sets whether the email address is the primary address.","default":false}},"required":["value"],"type":"object"}},"phones":{"type":"array","description":"A list of phone numbers associated with the person.","items":{"properties":{"value":{"type":"string","description":"The phone number. (e.g., 888-555-1234)"},"isPrimary":{"type":"boolean","description":"Sets whether this is the primary phone number.","default":false},"type":{"type":"string","description":"Type of number (e.g., \"mobile\", \"home\", \"fax\", etc.)"}},"required":["value"],"type":"object"}},"addresses":{"type":"array","description":"A list of addresses associated with the person. (This is the address where this person can be contacted, it is not the address of a property this person may be interested in selling or buying).","items":{"properties":{"type":{"type":"string","description":"The address type. (e.g., \"home\", \"work\", \"mailing\", \"investment\", etc.)","default":"home"},"street":{"type":"string","description":"Street address. (e.g., \"3595 South Higuera St., Suite B\")"},"city":{"type":"string","description":"City name."},"state":{"type":"string","description":"Abbreviated state code. (e.g., \"CA\", \"NY\", etc.)"},"code":{"type":"string","description":"Zipcode. (As a string, not a number.)"},"country":{"type":"string","description":"Country name. (e.g., \"United States\", \"Japan\", etc.)"}},"type":"object"}},"tags":{"type":"array","description":"A list of tags applied to the person. **This list will overwrite any existing tags for the person.** (To merge the tags passed with any existing tags,set the `mergeTags` query parameter in your request to true.)","items":{"type":"string"}},"background":{"type":"string","description":"Background information on the person. (Can be a multi-line string.)"},"custom*":{"type":"string","description":"You can include any of your Custom Fields in the request, these must be prefixed with \"custom\".  For example, if you have a *Closing Date* custom field, the JSON key for that field will be `customClosingDate`.  See [Custom Fields](doc:custom-fields-get) for more about Custom Fields."},"timeframeId":{"type":"integer","description":"ID of the timeframe to move (Refer to the /timeframes endpoint for valid values of timeframeId.)","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"delete":{"summary":"/people/:id","description":"Delete a person by id.","operationId":"people-id-delete","parameters":[{"name":"id","in":"path","description":"ID of person.","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/users":{"get":{"summary":"/users","description":"Search for users.","operationId":"users-get","parameters":[{"name":"limit","in":"query","description":"Number of results to return. Max 100.","schema":{"type":"integer","format":"int32","default":10}},{"name":"offset","in":"query","description":"Specifies the number of rows to skip before starting to return results.","schema":{"type":"integer","format":"int32","default":0}},{"name":"sort","in":"query","description":"Field to sort by. (Currently only `id`, `name` and `created` are available.)","schema":{"type":"string"}},{"name":"role","in":"query","description":"Find users by a specific role. (e.g., \"Broker\", \"Agent\", \"Lender\")","schema":{"type":"string"}},{"name":"name","in":"query","description":"Find a user by their full name. (Exact matches only, no partial matching available.)","schema":{"type":"string"}},{"name":"email","in":"query","description":"Find a user by their email.","schema":{"type":"string"}},{"name":"fields","in":"query","description":"Comma separated list of fields (e.g., id,name,calling) to return or use allFields to return all fields (except for calling information, unless included like allFields,calling). <br><br> When using the fields parameter to filter the response, the id field will be included (even when not specified explicitly).","schema":{"type":"string"}},{"name":"includeDeleted","in":"query","description":"Setting this to `true` will include users that have been deleted.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_metadata\": {\n    \"collection\": \"users\",\n    \"offset\": 0,\n    \"limit\": 10,\n    \"total\": 5,\n    \"next\": null,\n    \"nextLink\": null\n  },\n  \"users\": [\n    {\n      \"id\": 1,\n      \"created\": \"2023-03-06T19:48:47Z\",\n      \"updated\": \"2023-04-24T14:38:13Z\",\n      \"name\": \"Jean-Luc Picard\",\n      \"firstName\": \"Jean-Luc\",\n      \"lastName\": \"Picard\",\n      \"email\": \"jeanluc@enterprise.uss\",\n      \"phone\": \"1234567890\",\n      \"role\": \"Captain\",\n      \"status\": \"Active\",\n      \"timezone\": \"America/New_York\",\n      \"beta\": true,\n      \"picture\": [],\n      \"pauseLeadDistribution\": false,\n      \"lastSeenIos\": null,\n      \"lastSeenAndroid\": null,\n      \"lastSeenFub2\": \"2023-04-24T14:38:14Z\",\n      \"canExport\": true,\n      \"canCreateApiKeys\": true,\n      \"isOwner\": true,\n      \"groups\": [\n        {\n          \"id\": 2,\n          \"name\": \"Seller Leads\"\n        },\n        {\n          \"id\": 1,\n          \"name\": \"Team Integration Test\"\n        }\n      ],\n      \"teamIds\": [\n        1\n      ],\n      \"teamLeaderOf\": [],\n      \"leadEmailAddress\": \"cl.integration.test@followupboss.me\"\n    }\n    ...\n  ]\n}"}}}}}},"deprecated":false}},"/smartLists":{"get":{"summary":"/smartLists","description":"Get a list of Smart Lists.","operationId":"smartlists-get","parameters":[{"name":"limit","in":"query","description":"Number of results to return. Max 100.","schema":{"type":"integer","format":"int32","default":10}},{"name":"offset","in":"query","description":"Specifies the number of rows to skip before starting to return results.","schema":{"type":"integer","format":"int32","default":0}},{"name":"fub2","in":"query","description":"By default this endpoint only returns Smart Lists created in the classic version of our UI. To return Smart Lists created in our current version, use this parameter.","schema":{"type":"boolean","default":false}},{"name":"all","in":"query","description":"Use this parameter to show all smart lists, whether from FUB Classic or FUB.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_metadata\": {\n    \"collection\": \"smartlists\",\n    \"offset\": 0,\n    \"limit\": 100,\n    \"total\": 3\n  },\n  \"smartlists\": [\n        {\n            \"id\": 14,\n            \"name\": \"Stay In Touch\",\n            \"isFub2\": false,\n            \"description\": null,\n            \"defaultSmartListId\": null\n        },\n        {\n            \"id\": 13,\n            \"name\": \"Email Activity\",\n            \"isFub2\": false,\n            \"description\": null,\n            \"defaultSmartListId\": null\n        },\n        {\n            \"id\": 12,\n            \"name\": \"IDX Activity\",\n            \"isFub2\": false,\n            \"description\": null,\n            \"defaultSmartListId\": null\n        }\n  ]\n}"}},"schema":{"type":"object","properties":{"_metadata":{"type":"object","properties":{"collection":{"type":"string","example":"smartlists"},"offset":{"type":"integer","example":0,"default":0},"limit":{"type":"integer","example":100,"default":0},"total":{"type":"integer","example":3,"default":0}}},"smartlists":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":14,"default":0},"name":{"type":"string","example":"Stay In Touch"},"isFub2":{"type":"boolean","example":false,"default":true},"description":{},"defaultSmartListId":{}}}}}}}}}},"deprecated":false}},"/smartLists/{id}":{"get":{"summary":"/smartLists/:id","description":"Retrieve a Smart List by id.","operationId":"smartlist-id-get","parameters":[{"name":"id","in":"path","description":"The ID of the Smart List.","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 6,\n  \"name\": \"Pending\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":6,"default":0},"name":{"type":"string","example":"Pending"}}}}}}},"deprecated":false}},"/templates/{id}":{"get":{"summary":"/templates/:id","description":"Retrieve an email template by id, optionally merging fields.","operationId":"templates-id-get","parameters":[{"name":"id","in":"path","description":"The ID of the template.","schema":{"type":"integer","format":"int32"},"required":true},{"name":"mergePersonId","in":"query","description":"When specified, the returned template will have its merge fields filled out with the specified person record and the current user record.","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 6,\n  \"created\": \"2014-02-28T08:45:46Z\",\n  \"updated\": \"2014-08-12T17:24:22Z\",\n  \"createdById\": 14,\n  \"updatedById\": 14,\n  \"name\": \"I am here to help\",\n  \"isMobile\": 1,\n  \"isShared\": true,\n  \"body\": \"Hi %contact_first_name%, I am here to help, ...\",\n  \"subject\": \"Your property inquiry from Zillow\",\n  \"isEditable\": true,\n  \"isDeletable\": true,\n  \"actionPlans\": [\n    {\n        \"id\": 1,\n        \"name\": \"Buyers engagement emails\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":6,"default":0},"created":{"type":"string","example":"2014-02-28T08:45:46Z"},"updated":{"type":"string","example":"2014-08-12T17:24:22Z"},"createdById":{"type":"integer","example":14,"default":0},"updatedById":{"type":"integer","example":14,"default":0},"name":{"type":"string","example":"I am here to help"},"isMobile":{"type":"integer","example":1,"default":0},"isShared":{"type":"boolean","example":true,"default":true},"body":{"type":"string","example":"Hi %contact_first_name%, I am here to help, ..."},"subject":{"type":"string","example":"Your property inquiry from Zillow"},"isEditable":{"type":"boolean","example":true,"default":true},"isDeletable":{"type":"boolean","example":true,"default":true},"actionPlans":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Buyers engagement emails"}}}}}}}}}},"deprecated":false},"delete":{"summary":"/templates/:id","description":"Delete an email template.","operationId":"templates-id-delete","parameters":[{"name":"id","in":"path","description":"The ID of the template to delete.","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"errorMessage\":\"This template cannot be deleted.\"}"}},"schema":{"type":"object","properties":{"errorMessage":{"type":"string","example":"This template cannot be deleted."}}}}}}},"deprecated":false},"put":{"summary":"/templates/:id","description":"Update an email template.","operationId":"templates-id-put","parameters":[{"name":"id","in":"path","description":"The ID of the email template.","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","subject","body"],"properties":{"name":{"type":"string","description":"The new name for the email template."},"subject":{"type":"string","description":"The new subject for the email template."},"body":{"type":"string","description":"The new body for the email template."}}},"examples":{"Request Example":{"value":{"name":"Beach House promo","subject":"Check out this beach house!","body":"%greeting_time%,&nbsp;%contact_first_name%<br><br>Check out this beach house: <a href=\"https://example.com\">https://example.com</a><br><br>","isShared":true}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 845,\n  \"name\": \"Beach House promo\",\n  \"subject\": \"Check out this beach house!\",\n  \"body\": \"%greeting_time%,&nbsp;%contact_first_name%<br><br>Check out this beach house: <a href=\\\"https://example.com\\\">https://example.com</a><br><br>\",\n  \"isShared\": true\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":845,"default":0},"name":{"type":"string","example":"Beach House promo"},"subject":{"type":"string","example":"Check out this beach house!"},"body":{"type":"string","example":"%greeting_time%,&nbsp;%contact_first_name%<br><br>Check out this beach house: <a href=\"https://example.com\">https://example.com</a><br><br>"},"isShared":{"type":"boolean","example":true,"default":true}}}}}}},"deprecated":false}},"/customFields":{"get":{"summary":"/customFields","description":"List all custom fields.","operationId":"customfields-get","parameters":[{"name":"limit","in":"query","description":"Number of results to return. Max 100.","schema":{"type":"integer","format":"int32","default":10}},{"name":"offset","in":"query","description":"Specifies the number of rows to skip, before starting to return results.","schema":{"type":"integer","format":"int32","default":0}},{"name":"label","in":"query","description":"Find custom field by label.","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Sorts results based on the provided field name. Prepending the field with a minus sign (-) sorts the results in descending order.","schema":{"type":"string","enum":["id","name","orderWeight"],"default":"id (desc)"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_metadata\": {\n    \"collection\": \"customfields\",\n    \"offset\": 0,\n    \"limit\": 10,\n    \"total\": \"4\"\n  },\n  \"customfields\": [\n    {\n      \"id\": 2,\n      \"label\": \"Birthday\",\n      \"name\": \"customBirthday\",\n      \"type\": \"date\",\n      \"isRecurring\": true\n    },\n    {\n      \"id\": 4,\n      \"label\": \"Facebook\",\n      \"name\": \"customFacebook\",\n      \"type\": \"text\"\n    },\n    {\n      \"id\": 6,\n      \"label\": \"Looking for\",\n      \"name\": \"customLookingFor\",\n      \"type\": \"dropdown\",\n      \"choices\": [\n          \"Apartment\",\n          \"Townhouse\",\n          \"Detached House\"\n      ]\n    },\n    {\n      \"id\": 7,\n      \"label\": \"Close price\",\n      \"name\": \"customClosePrice\",\n      \"type\": \"number\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_metadata":{"type":"object","properties":{"collection":{"type":"string","example":"customfields"},"offset":{"type":"integer","example":0,"default":0},"limit":{"type":"integer","example":10,"default":0},"total":{"type":"string","example":"4"}}},"customfields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":2,"default":0},"label":{"type":"string","example":"Birthday"},"name":{"type":"string","example":"customBirthday"},"type":{"type":"string","example":"date"},"isRecurring":{"type":"boolean","example":true,"default":true}}}}}}}}}},"deprecated":false},"post":{"summary":"/customFields","description":"Create a custom field.","operationId":"customfields-post","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["label","type"],"properties":{"label":{"type":"string","description":"The user-friendly name of the custom field (e.g., \"Anniversary\")."},"type":{"type":"string","description":"The type of custom field.","enum":["text","date","number","dropdown"]},"choices":{"type":"array","description":"Array of options related to a custom field of type `dropdown`.","items":{"type":"string"}},"isRecurring":{"type":"boolean","description":"Whether a date field occurs every year (e.g. birthdays, anniversaries, etc.). (Note: This is only set and returned for `date` custom fields.)","default":false},"hideIfEmpty":{"type":"boolean","description":"When viewing a person, we will hide this field if it is empty.","default":false},"orderWeight":{"type":"integer","description":"A weighted integer for the field to assign values for custom sorting.","default":0,"format":"int32"}}},"examples":{"Request Example":{"value":{"label":"Birthday","name":"customBirthday","type":"date","isRecurring":true}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 2,\n  \"label\": \"Birthday\",\n  \"name\": \"customBirthday\",\n  \"type\": \"date\",\n  \"isRecurring\": true\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":2,"default":0},"label":{"type":"string","example":"Birthday"},"name":{"type":"string","example":"customBirthday"},"type":{"type":"string","example":"date"},"isRecurring":{"type":"boolean","example":true,"default":true}}}}}}},"deprecated":false}},"/notes":{"post":{"summary":"/notes","description":"Add a note.","operationId":"notes-post","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["personId"],"properties":{"personId":{"type":"integer","description":"The ID of a person.","format":"int32"},"subject":{"type":"string","description":"Gives a note a title or subject."},"body":{"type":"string","description":"The content of the note."},"isHtml":{"type":"boolean","description":"If enabled, will render the HTML tags contained within the body on the Follow Up Boss user interface."}}},"examples":{"JSON Example":{"value":{"personId":12235,"subject":"Some note subject","body":"This is the content of the note","isHtml":0}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/users/{id}":{"get":{"summary":"/users/:id","description":"Retrieve a user by id.","operationId":"users-id-get","parameters":[{"name":"id","in":"path","description":"The ID of a user.","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 5,\n  \"created\": \"2013-05-05T22:55:19Z\",\n  \"updated\": \"2014-03-06T08:52:25Z\",\n  \"name\": \"Daniel Corkill\",\n  \"firstName\": \"Daniel\",\n  \"lastName\": \"Corkill\",\n  \"email\": \"dan@example.com\",\n  \"phone\": \"\",\n  \"role\": \"Broker\",\n  \"status\": \"Active\",\n  \"timezone\": \"Asia/Beirut\",\n  \"beta\": false,\n  \"isOwner\": false,\n  \"leadEmailAddress\": \"dan.corkill@followupboss.me\",\n  \"groups\": [\n    {\n      \"id\": 1,\n      \"name\": \"Buyer Leads\"\n    },\n    {\n      \"id\": 2,\n      \"name\": \"Seller Leads\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":5,"default":0},"created":{"type":"string","example":"2013-05-05T22:55:19Z"},"updated":{"type":"string","example":"2014-03-06T08:52:25Z"},"name":{"type":"string","example":"Daniel Corkill"},"firstName":{"type":"string","example":"Daniel"},"lastName":{"type":"string","example":"Corkill"},"email":{"type":"string","example":"dan@example.com"},"phone":{"type":"string","example":""},"role":{"type":"string","example":"Broker"},"status":{"type":"string","example":"Active"},"timezone":{"type":"string","example":"Asia/Beirut"},"beta":{"type":"boolean","example":false,"default":true},"isOwner":{"type":"boolean","example":false,"default":true},"leadEmailAddress":{"type":"string","example":"dan.corkill@followupboss.me"},"groups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Buyer Leads"}}}}}}}}}},"deprecated":false},"delete":{"summary":"/users/:id","description":"Delete a user.","operationId":"users-id-delete","parameters":[{"name":"id","in":"path","description":"ID of user to delete.","schema":{"type":"integer","format":"int32"},"required":true},{"name":"assignTo","in":"query","description":"ID of another user to reassign the deleted user's leads to.","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/templates":{"get":{"summary":"/templates","description":"Lists all email templates.","operationId":"templates-get","parameters":[{"name":"limit","in":"query","description":"Number of results to return. Max 100.","schema":{"type":"integer","format":"int32","default":10}},{"name":"offset","in":"query","description":"Specifies the number of rows to skip before starting to return results.","schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_metadata\": {\n    \"collection\": \"templates\",\n    \"offset\": 0,\n    \"limit\": 10,\n    \"total\": 5\n  },\n  \"templates\": [\n    {\n      \"id\": 6,\n      \"created\": \"2014-02-28T08:45:46Z\",\n      \"updated\": \"2014-08-12T17:24:22Z\",\n      \"createdById\": 14,\n      \"updatedById\": 14,\n      \"name\": \"I am here to help\",\n      \"isMobile\": 1,\n      \"isShared\": true,\n      \"body\": \"Hi %contact_first_name%, I am here to help, ...\",\n      \"subject\": \"%inquiry_address%\",\n      \"isEditable\": true,\n      \"isDeletable\": true,\n      \"actionPlans\": [\n        {\n            \"id\": 1,\n            \"name\": \"Buyers engagement emails\"\n        }\n      ]\n    }\n    ...\n  ]\n}"}}}}}},"deprecated":false},"post":{"summary":"/templates","description":"Create a new email template.","operationId":"templates-post","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","subject","body"],"properties":{"name":{"type":"string","description":"The name of the new email template."},"subject":{"type":"string","description":"The email subject used when this email template is selected."},"body":{"type":"string","description":"The HTML body of the email template."},"isShared":{"type":"boolean","description":"Indicates whether this email template should be shared with other users in the same Follow Up Boss account."}}},"examples":{"Request Example":{"value":{"name":"Beach House promo","subject":"Check out this beach house!","body":"%greeting_time%,&nbsp;%contact_first_name%<br><br>Check out this beach house: <a href=\"https://example.com\">https://example.com</a><br><br>","isShared":true}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 526,\n  \"created\": \"2021-06-21T21:23:12Z\",\n  \"updated\": \"2021-06-21T21:23:12Z\",\n  \"createdById\": 15,\n  \"updatedById\": 15,\n  \"name\": \"Beach House promo\",\n  \"imported\": 0,\n  \"isMobile\": 0,\n  \"isShared\": true,\n  \"body\": \"%greeting_time%, %contact_first_name%<br /><br />Check out this beach house: <a href=\\\"https://example.com\\\">https://example.com</a><br /><br />\",\n  \"subject\": \"Check out this beach house!\",\n  \"isEditable\": true,\n  \"isDeletable\": true,\n  \"isShareable\": true,\n  \"actionPlans\": [],\n  \"categories\": []\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":526,"default":0},"created":{"type":"string","example":"2021-06-21T21:23:12Z"},"updated":{"type":"string","example":"2021-06-21T21:23:12Z"},"createdById":{"type":"integer","example":15,"default":0},"updatedById":{"type":"integer","example":15,"default":0},"name":{"type":"string","example":"Beach House promo"},"imported":{"type":"integer","example":0,"default":0},"isMobile":{"type":"integer","example":0,"default":0},"isShared":{"type":"boolean","example":true,"default":true},"body":{"type":"string","example":"%greeting_time%, %contact_first_name%<br /><br />Check out this beach house: <a href=\"https://example.com\">https://example.com</a><br /><br />"},"subject":{"type":"string","example":"Check out this beach house!"},"isEditable":{"type":"boolean","example":true,"default":true},"isDeletable":{"type":"boolean","example":true,"default":true},"isShareable":{"type":"boolean","example":true,"default":true},"actionPlans":{"type":"array","items":{"type":"object","properties":{}}},"categories":{"type":"array","items":{"type":"object","properties":{}}}}}}}}},"deprecated":false}},"/actionPlans":{"get":{"summary":"/actionPlans","description":"Get a list of Action Plans.","operationId":"actionplans-get","parameters":[{"name":"limit","in":"query","description":"Number of results to return. Max 100.","schema":{"type":"integer","format":"int32","default":10}},{"name":"offset","in":"query","description":"Specifies the number of rows to skip before starting to return results.","schema":{"type":"integer","format":"int32","default":0}},{"name":"sort","in":"query","description":"Sort Action Plans by a given field. (e.g., \"id\" or \"name\")","schema":{"type":"string"}},{"name":"status","in":"query","description":"Search for Action Plans with one of the following statuses: `Active`,`Deleted`, or `Active,Deleted` (if you want both).","schema":{"type":"string"}},{"name":"names","in":"query","description":"Search for Action Plans by `name`. Use array parameters format with encoded values, e.g. `/actionPlans?names[]=Action%20Plan%20Name%201&names[]=Action%20Plan%20Name%202`.","schema":{"type":"array","items":{"type":"string"}}},{"name":"ids","in":"query","description":"Search for Action Plans by `id`. Use a comma separated list, e.g. `/actionPlans?ids=287564,67484,8436437`","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_metadata\": {\n    \"collection\": \"actionPlans\",\n    \"offset\": 0,\n    \"limit\": 10,\n    \"total\": 6\n  },\n  \"actionPlans\": [\n    {\n      \"id\": 6,\n      \"created\": \"2014-08-24T22:12:53Z\",\n      \"updated\": \"2014-08-24T22:12:53Z\",\n      \"name\": \"Qualify buyer leads\",\n      \"status\": \"Active\"\n    },\n    ...\n  ]\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/notes/{id}":{"put":{"summary":"/notes/:id","description":"Edit a note.","operationId":"notes-id-put","parameters":[{"name":"id","in":"path","description":"The ID of the note to update.","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"personId":{"type":"integer","description":"The ID of a person associated with this note.","format":"int32"},"subject":{"type":"string","description":"You can give a note a title or subject using this field."},"body":{"type":"string","description":"The content of the note."},"isHtml":{"type":"boolean","description":"If enabled, will render the HTML tags contained within the body on the Follow Up Boss user interface."}}},"examples":{"JSON Example":{"value":{"personId":12235,"subject":"Some note subject","body":"Plans to sell within the next three months.","isHtml":0}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 1819,\n  \"created\": \"2014-06-19T18:32:26Z\",\n  \"updated\": \"2014-06-19T18:32:26Z\",\n  \"createdBy\": \"Agent White\",\n  \"updatedBy\": \"Agent White\",\n  \"personId\": 12235,\n  \"subject\": \"Some note subject\",\n  \"body\": \"Plans to sell within the next three months.\",\n  \"type\": \"\",\n  \"isHtml\": 0\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":1819,"default":0},"created":{"type":"string","example":"2014-06-19T18:32:26Z"},"updated":{"type":"string","example":"2014-06-19T18:32:26Z"},"createdBy":{"type":"string","example":"Agent White"},"updatedBy":{"type":"string","example":"Agent White"},"personId":{"type":"integer","example":12235,"default":0},"subject":{"type":"string","example":"Some note subject"},"body":{"type":"string","example":"Plans to sell within the next three months."},"type":{"type":"string","example":""},"isHtml":{"type":"integer","example":0,"default":0}}}}}}},"deprecated":false},"get":{"summary":"/notes/:id","description":"Retrieve a note by id.","operationId":"notes-id-get","parameters":[{"name":"id","in":"path","description":"The ID of the note.","schema":{"type":"integer","format":"int32"},"required":true},{"name":"includeThreadedReplies","in":"query","description":"When set to true, will include threaded replies attached to the note. Replies may include HTML tags in their bodies.","schema":{"type":"boolean"}},{"name":"includeReactions","in":"query","description":"When set to true, will include the reactions that have been left on the note (as well as the replies if those have also been requested). Reactions are keyed by the emoji reaction. The value is an array of user IDs who have left that reaction.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": 12345,\n    \"created\": \"2024-01-01T00:00:00Z\",\n    \"updated\": \"2024-01-01T00:00:00Z\",\n    \"createdById\": 1,\n    \"updatedById\": 1,\n    \"createdBy\": \"Mark Hamill\",\n    \"updatedBy\": \"Mark Hamill\",\n    \"personId\": 15,\n    \"showContent\": true,\n    \"subject\": \"\",\n    \"body\": \"Hello team!\",\n    \"type\": \"\",\n    \"isHtml\": false,\n    \"actionPlanId\": null,\n    \"isExternal\": false,\n    \"systemId\": 1,\n    \"systemName\": \"My System\",\n    \"replies\": [\n        {\n          \"id\": 100,\n          \"refId\": 12345,\n          \"refType\": \"Note\",\n          \"createdById\": 1,\n          \"createdBy\": \"Mark Hamill\",\n          \"created\": \"2024-01-01T00:00:00Z\",\n          \"updated\": \"2024-01-01T00:00:00Z\",\n          \"body\": \"Hello world!\",\n          \"starred\": false,\n          \"reactions\": {\n            \"👍\": [5],\n            \"👾\": [2]\n        \t]\n\t\t\t\t},\n        {\n          \"id\": 107,\n          \"refId\": 12345,\n          \"refType\": \"Note\",\n          \"createdById\": 2,\n          \"createdBy\": \"Carrie Fisher\",\n          \"created\": \"2024-01-02T00:00:00Z\",\n          \"updated\": \"2024-01-02T00:00:00Z\",\n          \"body\": \"Greetings!\",\n          \"starred\": false,\n          \"reactions\": {\n            \"😁\": [4, 1, 3],\n            \"👋\": [1]\n        \t]\n\t\t\t\t},\n    ],\n    \"reactions\": {\n        \"🗼\": [3]\n    }\n}"}}}}}},"deprecated":false},"delete":{"summary":"/notes/:id","description":"Delete a note.","operationId":"notes-id-delete","parameters":[{"name":"id","in":"path","description":"The ID of the note to delete.","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/customFields/{id}":{"get":{"summary":"/customFields/:id","description":"Get a custom field by id.","operationId":"customfields-id-get","parameters":[{"name":"id","in":"path","description":"The ID of a custom field.","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": 6,\n    \"label\": \"Looking for\",\n    \"name\": \"customLookingFor\",\n    \"type\": \"dropdown\",\n    \"choices\": [\n        \"Apartment\",\n        \"Townhouse\",\n        \"Detached House\"\n    ]\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":6,"default":0},"label":{"type":"string","example":"Looking for"},"name":{"type":"string","example":"customLookingFor"},"type":{"type":"string","example":"dropdown"},"choices":{"type":"array","items":{"type":"string","example":"Apartment"}}}}}}}},"deprecated":false},"put":{"summary":"/customFields/:id","description":"Update a custom field.","operationId":"customfields-id-put","parameters":[{"name":"id","in":"path","description":"The ID of the custom field.","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"label":{"type":"string","description":"The user-friendly name of the custom field (e.g., \"Anniversary\")."},"choices":{"type":"array","description":"Array of options related to a custom field of type `dropdown`.","items":{"type":"string"}},"isRecurring":{"type":"boolean","description":"Sets whether a date field occurs every year (e.g., birthdays, anniversaries, etc.). (Note: This is only set and returned for `date` custom fields.)","default":false},"hideIfEmpty":{"type":"boolean","description":"When viewing a person, we will hide this field if it is empty.","default":false},"orderWeight":{"type":"integer","description":"A weighted integer for the field to assign values for custom sorting.","default":0,"format":"int32"},"dropdownChoiceMap":{"type":"array","description":"An optional mapping that points previous dropdown choices (keys) to their new positions (values). This is used to track when options get moved or renamed. If items are missing from the keys, they will be removed. If the mapping is not supplied, then this endpoint will try to determine if items have been moved or renamed on its own.","default":[null],"items":{"type":"integer","format":"int32"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 2,\n  \"label\": \"Birthday\",\n  \"name\": \"customBirthday\",\n  \"type\": \"date\",\n  \"isRecurring\": false\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":2,"default":0},"label":{"type":"string","example":"Birthday"},"name":{"type":"string","example":"customBirthday"},"type":{"type":"string","example":"date"},"isRecurring":{"type":"boolean","example":false,"default":true}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"text","code":"{\n  \"label\": \"Birthday\",\n  \"type\": \"date\",\n  \"isRecurring\": false\n}"}],"samples-languages":["text"]}},"delete":{"summary":"/customFields/:id","description":"Delete a custom field.","operationId":"customfields-id-delete","parameters":[{"name":"id","in":"path","description":"The ID of the custom field.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":""}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/me":{"get":{"summary":"/me","description":"Retrieve information about the currently authenticated user.","operationId":"me","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 1,\n  \"name\": \"Gerald Leenerts\",\n  \"role\": \"admin\",\n  \"email\": \"gerald@followupboss.com\",\n  \"phone\": \"(123) 456-7890\",\n  \"timeZone\": \"America/Chicago\",\n  \"signature\": \"<div>Cheers,<br></div><div>-Gerald</div>\",\n  \"rawSignature\": \"<div>Cheers,<br></div><div>-Gerald</div>\",\n  \"apiKey\": \"...\",\n  \"algoliaKey\": \"...\",\n  \"intercomSettings\": {\n    \"app_id\": \"...\",\n    \"created_at\": \"1313236940\",\n    \"user_hash\": \"...\",\n    \"user_id\": \"1234-1\"\n  },\n  \"account\": 1234,\n  \"teamMember\": null,\n  \"beta\": true,\n  \"betaOnly\": false,\n  \"connectedEmail\": {\n    \"email\": \"gerald@followupboss.com\",\n    \"oauthProvider\": \"google\",\n    \"shareEmails\": false,\n    \"imapLeadProcessing\": true,\n    \"hasSmtp\": true\n  },\n  \"leadEmailAddress\": \"gerald@followupboss.me\",\n  \"callingEnabled\": true,\n  \"voicemailEnabled\": false,\n  \"voicemailUrl\": null,\n  \"callingCapabilityToken\": \"\",\n  \"isOwner\": true,\n  \"unreadConversationCount\": 0,\n  \"notifyBy\": \"Email only\",\n  \"features\": [\n    \"action-plans-smtp\",\n    \"call-recording\",\n    \"calling\",\n    \"link-tracking\"\n  ]\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Gerald Leenerts"},"role":{"type":"string","example":"admin"},"email":{"type":"string","example":"gerald@followupboss.com"},"phone":{"type":"string","example":"(123) 456-7890"},"timeZone":{"type":"string","example":"America/Chicago"},"signature":{"type":"string","example":"<div>Cheers,<br></div><div>-Gerald</div>"},"rawSignature":{"type":"string","example":"<div>Cheers,<br></div><div>-Gerald</div>"},"apiKey":{"type":"string","example":"..."},"algoliaKey":{"type":"string","example":"..."},"intercomSettings":{"type":"object","properties":{"app_id":{"type":"string","example":"..."},"created_at":{"type":"string","example":"1313236940"},"user_hash":{"type":"string","example":"..."},"user_id":{"type":"string","example":"1234-1"}}},"account":{"type":"integer","example":1234,"default":0},"teamMember":{},"beta":{"type":"boolean","example":true,"default":true},"betaOnly":{"type":"boolean","example":false,"default":true},"connectedEmail":{"type":"object","properties":{"email":{"type":"string","example":"gerald@followupboss.com"},"oauthProvider":{"type":"string","example":"google"},"shareEmails":{"type":"boolean","example":false,"default":true},"imapLeadProcessing":{"type":"boolean","example":true,"default":true},"hasSmtp":{"type":"boolean","example":true,"default":true}}},"leadEmailAddress":{"type":"string","example":"gerald@followupboss.me"},"callingEnabled":{"type":"boolean","example":true,"default":true},"voicemailEnabled":{"type":"boolean","example":false,"default":true},"voicemailUrl":{},"callingCapabilityToken":{"type":"string","example":""},"isOwner":{"type":"boolean","example":true,"default":true},"unreadConversationCount":{"type":"integer","example":0,"default":0},"notifyBy":{"type":"string","example":"Email only"},"features":{"type":"array","items":{"type":"string","example":"action-plans-smtp"}}}}}}}},"deprecated":false}},"/calls":{"get":{"summary":"/calls","description":"Search for calls.","operationId":"calls-get","parameters":[{"name":"limit","in":"query","description":"Number of results to return. Max 100.","schema":{"type":"integer","format":"int32","default":10}},{"name":"offset","in":"query","description":"Specifies the number of rows to skip before starting to return results.","schema":{"type":"integer","format":"int32","default":0}},{"name":"personId","in":"query","description":"Filter calls by a person ID.","schema":{"type":"integer","format":"int32"}},{"name":"phone","in":"query","description":"Filter calls based on the phone number of a specific person or lead. This will finds calls regardless of whether they were incoming or outgoing.","schema":{"type":"string"}},{"name":"toNumber","in":"query","description":"Filter calls based on the number that the call was to.","schema":{"type":"string"}},{"name":"fromNumber","in":"query","description":"Filter calls based on the number that the call was from.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_metadata\": {\n    \"collection\": \"calls\",\n    \"offset\": 0,\n    \"limit\": 10,\n    \"total\": 5\n  },\n  \"calls\": [\n    {\n      \"id\": 18,\n      \"created\": \"2014-06-20T23:28:51Z\",\n      \"updated\": \"2014-08-12T17:24:22Z\",\n      \"createdById\": 4,\n      \"updatedById\": 4,\n      \"phone\": \"555-405-0815\",\n      \"personId\": 12254,\n      \"userId\": 4,\n      \"userName\": \"Agent White\",\n      \"note\": \"A note about the call\",\n      \"outcome\": \"Left Message\",\n      \"isIncoming\": false,\n      \"duration\": 63,\n      \"ringDuration\": 5,\n      \"recordingUrl:\": \"Content is hidden for privacy reasons.\"\n    },\n    ...\n  ]\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"/calls","description":"Add a call.","operationId":"calls-post","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["personId","phone","isIncoming"],"properties":{"personId":{"type":"integer","description":"The ID of a person associated with this call.","format":"int32"},"phone":{"type":"string","description":"The phone number this call was made to or from."},"isIncoming":{"type":"boolean","description":"Sets this as an incoming or outgoing call."},"note":{"type":"string","description":"The log message entered for this call."},"outcome":{"type":"string","description":"The outcome of the call, which can be one of `Interested`, `Not Interested`, `Left Message`, `No Answer`, `Busy` or `Bad Number`."},"duration":{"type":"integer","description":"Length of the call in seconds.","format":"int32"},"toNumber":{"type":"string","description":"The phone number this call was made to."},"fromNumber":{"type":"string","description":"The phone number this call was made from."},"userId":{"type":"integer","description":"The ID of the user that made or received a call. (This can only be set by administrators, otherwise the currently logged in user's ID is used.)","format":"int32"},"recordingUrl":{"type":"string","description":"The URL for the call recording."}}},"examples":{"JSON Example":{"value":{"phone":"555-405-0815","personId":12254,"note":"John didn't have time to talk, call back on friday","outcome":"Interested","isIncoming":0,"duration":63}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/actionPlansPeople/{id}":{"put":{"summary":"/actionPlansPeople/:id","description":"Update the status of an Action Plan to Person relationship.","operationId":"actionplanspeople-id-put","parameters":[{"name":"id","in":"path","description":"The ID of the Action Plan People object.","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["status"],"properties":{"status":{"type":"string","description":"The desired state of the applied action plan. Either `Running` or `Paused`."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/calls/{id}":{"get":{"summary":"/calls/:id","description":"Retrieve a call by id.","operationId":"calls-id-get","parameters":[{"name":"id","in":"path","description":"The ID of a call.","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 18,\n  \"created\": \"2014-06-20T23:28:51Z\",\n  \"updated\": \"2014-08-12T17:24:22Z\",\n  \"createdById\": 4,\n  \"updatedById\": 4,\n  \"phone\": \"555-405-0815\",\n  \"personId\": 12254,\n  \"userId\": 4,\n  \"userName\": \"Agent White\",\n  \"note\": \"A note about the call\",\n  \"outcome\": \"Left Message\",\n  \"isIncoming\": false,\n  \"duration\": 63,\n  \"ringDuration\": 5,\n  \"recordingUrl\": \"Content is hidden for privacy reasons.\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":18,"default":0},"created":{"type":"string","example":"2014-06-20T23:28:51Z"},"updated":{"type":"string","example":"2014-08-12T17:24:22Z"},"createdById":{"type":"integer","example":4,"default":0},"updatedById":{"type":"integer","example":4,"default":0},"phone":{"type":"string","example":"555-405-0815"},"personId":{"type":"integer","example":12254,"default":0},"userId":{"type":"integer","example":4,"default":0},"userName":{"type":"string","example":"Agent White"},"note":{"type":"string","example":"A note about the call"},"outcome":{"type":"string","example":"Left Message"},"isIncoming":{"type":"boolean","example":false,"default":true},"duration":{"type":"integer","example":63,"default":0},"ringDuration":{"type":"integer","example":5,"default":0},"recordingUrl":{"type":"string","example":"Content is hidden for privacy reasons."}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"put":{"summary":"/calls/:id","description":"Update a call.","operationId":"calls-id-put","parameters":[{"name":"id","in":"path","description":"The ID of a call.","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"personId":{"type":"integer","description":"The ID of a person associated with this call.","format":"int32"},"phone":{"type":"string","description":"The phone number this call was made to or from."},"isIncoming":{"type":"boolean","description":"Sets this as an incoming or outgoing call."},"note":{"type":"string","description":"The log message entered for this call."},"outcome":{"type":"string","description":"The outcome of the call, which can be one of `Interested`, `Not Interested`, `Left Message`, `No Answer`, `Busy` or `Bad Number`."},"duration":{"type":"integer","description":"Length of the call in seconds.","format":"int32"},"toNumber":{"type":"string","description":"The phone number this call was made to."},"fromNumber":{"type":"string","description":"The phone number this call was made from."},"userId":{"type":"integer","description":"The ID of the user that made or received a call. (This can only be set by administrators, otherwise the currently logged in user's ID is used.)","format":"int32"},"recordingUrl":{"type":"string","description":"The URL for the call recording."}}},"examples":{"JSON Example":{"value":{"phone":"555-405-0815","personId":12254,"note":"John didn't have time to talk, call back on friday","outcome":"Interested","isIncoming":0,"duration":63}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/actionPlansPeople":{"get":{"summary":"/actionPlansPeople","description":"List Action Plans applied to a particular person or list people on a particular Action Plan.","operationId":"actionplanspeople-get","parameters":[{"name":"limit","in":"query","description":"Number of results to return. Max 100.","schema":{"type":"integer","format":"int32","default":10}},{"name":"offset","in":"query","description":"Specifies the number of rows to skip before starting to return results.","schema":{"type":"integer","format":"int32","default":0}},{"name":"personId","in":"query","description":"List Action Plans applied to a specified person.","schema":{"type":"integer","format":"int32"}},{"name":"actionPlanId","in":"query","description":"List People on the specified Action Plan.","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_metadata\": {\n    \"collection\": \"actionPlansPeople\",\n    \"offset\": 0,\n    \"limit\": 10,\n    \"total\": 2\n  },\n  \"actionPlansPeople\": [\n    {\n      \"id\": 2,\n      \"created\": \"2014-08-19T18:31:43Z\",\n      \"updated\": \"2014-08-19T18:31:43Z\",\n      \"personId\": 10810,\n      \"actionPlanId\": 2,\n      \"status\": \"Running\"\n    },\n    ...\n  ]\n}\n  "}}}}}},"deprecated":false},"post":{"summary":"/actionPlansPeople","description":"Apply an Action Plan to a person.","operationId":"actionplanspeople-post","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["personId","actionPlanId"],"properties":{"personId":{"type":"integer","description":"The ID of the person to whom you would like to apply the action plan.","format":"int32"},"actionPlanId":{"type":"integer","description":"The ID of the action plan to apply","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/emEvents":{"get":{"summary":"/emEvents","description":"List email marketing events.","operationId":"emevents-get","parameters":[{"name":"type","in":"query","description":"Find email marketing events based on type. Options include `delivered`, `open`, `click`, `bounced`, `soft-bounce`, `hard-bounce`, `unsubscribe`, `spamreport` and `dropped`.","schema":{"type":"string"}},{"name":"personId","in":"query","description":"Find email marketing events by person ID.","schema":{"type":"integer","format":"int32"}},{"name":"updatedAfter","in":"query","description":"Find email marketing events that have been created or updated after the specified time.","schema":{"type":"string","format":"date-time"}},{"name":"limit","in":"query","description":"Number of results to return. Max 100.","schema":{"type":"integer","format":"int32","default":10}},{"name":"offset","in":"query","description":"Specifies the number of rows to skip before starting to return results.","schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_metadata\": {\n    \"collection\": \"emEvents\",\n    \"offset\": 0,\n    \"limit\": 10,\n    \"total\": 102938\n  },\n  \"emEvents\": [\n    {\n      \"count\": 2,\n      \"type\": \"open\",\n      \"personId\": 10911,\n      \"campaignId\": 102,\n      \"campaignName\": \"Can I help\",\n      \"created\": \"2017-01-03T19:20:49Z\",\n      \"updated\": \"2017-01-03T19:20:49Z\"\n    },\n    ...\n  ]\n}"}}}}}},"deprecated":false},"post":{"summary":"/emEvents","description":"Notify Follow Up Boss about marketing emails sent, opens, clicks, bounces, unsubscribes and spam reports.","operationId":"emevents-post","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"emEvents":{"type":"array","description":"Array of email marketing events in the following format: [{\"type\": \"delivered\", \"occurred\": \"2017-04-09T16:10:59Z\", \"recipient\": \"john.smith@gmail.com\", \"personId\" : 1, \"campaignId\": 141, \"userId\": 3}, ...]","items":{"properties":{"type":{"type":"string","description":"Type of event. Options include `delivered`, `open`, `click`, `bounced`, `soft-bounce`, `hard-bounce`, `unsubscribe`, `spamreport` and `dropped`."},"occurred":{"type":"string","description":"Date/time of the event.","format":"date"},"recipient":{"type":"string","description":"Email address of the recipient."},"personId":{"type":"integer","description":"ID of the recipient.","format":"int32"},"campaignId":{"type":"string","description":"ID of the campaign."},"userId":{"type":"integer","description":"Follow Up Boss ID of the user that email was sent from.","format":"int32"},"url":{"type":"string","description":"URL for the campaign."}},"type":"object"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"emEventIds\": [\n        193928,\n        193929,\n        ...\n    ]\n    \"recipientsNotFound\": [\n        \"email.not.in.fub@example.com\",\n        \"another.missing.email@example.com\"\n    ]\n}"}}}}}},"deprecated":false}},"/stages":{"get":{"summary":"/stages","description":"Retrieve a list of stages.","operationId":"stages-get","parameters":[{"name":"limit","in":"query","description":"Number of results to return. Max 100.","schema":{"type":"integer","format":"int32","default":10}},{"name":"offset","in":"query","description":"Specifies the number of rows to skip before starting to return results.","schema":{"type":"integer","format":"int32","default":0}},{"name":"sort","in":"query","description":"Sorts the stages by `orderWeight`, `id` or `name`.","schema":{"type":"string","default":"orderWeight"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"_metadata\": {\n    \"collection\": \"stages\",\n    \"offset\": 0,\n    \"limit\": 20,\n    \"total\": 8\n  },\n  \"stages\": [\n    {\n      \"id\": 1,\n      \"name\": \"Contact\",\n      \"orderWeight\": 1000,\n      \"isProtected\": false,\n      \"peopleCount\": 16\n    },\n    {\n      \"id\": 5,\n      \"name\": \"Buyer\",\n      \"orderWeight\": 2000,\n      \"isProtected\": false,\n      \"peopleCount\": 40\n    },\n    {\n      \"id\": 2,\n      \"name\": \"Lead\",\n      \"orderWeight\": 3000,\n      \"isProtected\": true,\n      \"peopleCount\": 12077\n    },\n    {\n      \"id\": 4,\n      \"name\": \"Nurture\",\n      \"orderWeight\": 4000,\n      \"isProtected\": false,\n      \"peopleCount\": 66\n    },\n    {\n      \"id\": 8,\n      \"name\": \"Closed\",\n      \"orderWeight\": 5000,\n      \"isProtected\": true,\n      \"peopleCount\": 15\n    },\n    {\n      \"id\": 9,\n      \"name\": \"Past Client\",\n      \"orderWeight\": 6000,\n      \"isProtected\": false,\n      \"peopleCount\": 98\n    },\n    {\n      \"id\": 10,\n      \"name\": \"Sphere\",\n      \"orderWeight\": 7000,\n      \"isProtected\": false,\n      \"peopleCount\": 17\n    },\n    {\n      \"id\": 11,\n      \"name\": \"Trash\",\n      \"orderWeight\": 8000,\n      \"isProtected\": true,\n      \"peopleCount\": 892\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"_metadata":{"type":"object","properties":{"collection":{"type":"string","example":"stages"},"offset":{"type":"integer","example":0,"default":0},"limit":{"type":"integer","example":20,"default":0},"total":{"type":"integer","example":8,"default":0}}},"stages":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Contact"},"orderWeight":{"type":"integer","example":1000,"default":0},"isProtected":{"type":"boolean","example":false,"default":true},"peopleCount":{"type":"integer","example":16,"default":0}}}}}}}}}},"deprecated":false},"post":{"summary":"/stages","description":"Create a new stage.","operationId":"stages-post","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Name of the stage."},"orderWeight":{"type":"integer","description":"Set this value to enforce a specific sort order.","default":1000,"format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 7,\n  \"name\": \"Pending\",\n  \"orderWeight\": 7000,\n  \"isProtected\": false,\n  \"peopleCount\": 10\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":7,"default":0},"name":{"type":"string","example":"Pending"},"orderWeight":{"type":"integer","example":7000,"default":0},"isProtected":{"type":"boolean","example":false,"default":true},"peopleCount":{"type":"integer","example":10,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/stages/{id}":{"put":{"summary":"/stages/:id","description":"Update a stage.","operationId":"stages-id-put","parameters":[{"name":"id","in":"path","description":"The id of the stage to update.","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the stage"},"orderWeight":{"type":"integer","description":"Helps to set a specific sort order.","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 7,\n  \"name\": \"Pending\",\n  \"orderWeight\": 7000,\n  \"isProtected\": false,\n  \"peopleCount\": 10\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":7,"default":0},"name":{"type":"string","example":"Pending"},"orderWeight":{"type":"integer","example":7000,"default":0},"isProtected":{"type":"boolean","example":false,"default":true},"peopleCount":{"type":"integer","example":10,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"/stages/:id","description":"Get a stage by id.","operationId":"stages-id-get","parameters":[{"name":"id","in":"path","description":"The id of the stage to retrieve.","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": 7,\n  \"name\": \"Pending\",\n  \"orderWeight\": 7000,\n  \"isProtected\": false,\n  \"peopleCount\": 10\n}"}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":7,"default":0},"name":{"type":"string","example":"Pending"},"orderWeight":{"type":"integer","example":7000,"default":0},"isProtected":{"type":"boolean","example":false,"default":true},"peopleCount":{"type":"integer","example":10,"default":0}}}}}}},"deprecated":false},"delete":{"summary":"/stages/:id","description":"Delete a stage.","operationId":"stage-id-delete","parameters":[{"name":"id","in":"path","description":"The id of the stage to delete.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"assignStageId","in":"query","description":"The stage id to assign to action plans referencing the deleted stage.","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/webhooks/{id}":{"delete":{"summary":"/webhooks/:id","description":"Delete a webhook.","operationId":"webhooks-id-delete","parameters":[{"name":"id","in":"path","description":"The ID of the webhook.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"X-System","in":"header","description":"The name of the registered system.","required":true,"schema":{"type":"string"}},{"name":"X-System-Key","in":"header","description":"The key of the registered system.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":""}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"put":{"summary":"/webhooks/:id","description":"Update a webhook.","operationId":"webhooks-id-put","parameters":[{"name":"X-System","in":"header","description":"The name of the registered system.","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"The id of the webhook.","schema":{"type":"integer","format":"int32"},"required":true},{"name":"X-System-Key","in":"header","description":"The key o
[...]
